<a href="https://colab.research.google.com/github/audhub/BTE-320/blob/main/BTE320_class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**in class: 1/27**

format of an if statement

In [ ]:
if condition:
  expr
  expr

In [ ]:
fico = int(input('Please provide your FICO score:'))

if fico >= 700:
  print('Loan granted!')
else:
  print('Loan denied!')

another option using elif:
elif can be used infinte amount of times - using else after elif is optional

In [ ]:
fico = int(input('Please provide your FICO score:'))

if fico >= 700:
  print('Loan granted!')
elif fico <700:
  print('Loan denied!')

In [ ]:
num_grade = float(input('Please provide your numeric grade:'))

if num_grade >= 97:
  print('A+')
elif num_grade >= 93:
  print('A')
elif num_grade >= 90:
   print('A-')
elif num_grade >= 87:
   print('B+')
elif num_grade >= 83:
   print('B')

In [ ]:
customer_type = input('Please enter customer type (N: new/E: existing):')
deposit = float(input('Please enter deposit amount: '))

if customer_type == 'E':
  if deposit >= 10000:
    ir = 3.5
  elif deposit >=1000:
    ir = 3.25
  else:
    ir = 3.0
else:
  ir = 4

total = (1+ ir/100) * deposit
print(f'Total deposit: {total}$')

In [ ]:
customer_type = input('Please enter customer type (N: new/E: existing):')
deposit = float(input('Please enter deposit amount: '))

if customer_type == 'E' and deposit >= 10000:
  ir = 3.5
elif customer_type == 'E' and deposit >= 1000:
  ir = 3.25
elif customer_type == 'E' and deposit < 1000:
  ir = 3.0
else:
  ir = 4

total = (1+ ir/100) * deposit
print(f'Total deposit: {total}$')

2/3 while/for loops

for loop syntax:

In [ ]:
for variable in seq:
  expr
  expr
# process repeats as long as it is true

range(start, stop, step)
creates sequences of values

start and step are default values 0 and 1 so only have to define the stop value unless changing defaults

Feb 7 while loops

In [ ]:
num = 1
while num < 5:
  print(num,  num**2, num **3)
  num = num + 1

1 1 1
2 4 8
3 9 27
4 16 64

In [ ]:
s = input('Enter yes or no: ')

while s == 'yes':
  print('Ok!')

taking an in class assignment movie theater and turning it into a while loop

In [ ]:
print('Ad$', 'Profit')
cost = 0
while cost < 201:
  additional = 2 * round(cost**.5)
  profit = (20+additional)*10-200-cost
  print(cost, '\t', profit)
  cost = cost +25

Ad$ Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
num = 9

while num > 0:
  num = num - 1
  if num ==5:
    break # will skip the rest of the while loop
  print(num)

print('End')

#or use continue and it will keep going
num = 9

while num > 0:
  num = num - 1
  if num ==5:
    continue
  print(num)

print('End')

8
7
6
End
8
7
6
4
3
2
1
0
End

for loops:
known number of iterations, uses a counter

while loops:
unbounded number of iterations

2/12 class work

In [ ]:
s = "this is a string"

s3 ='abc'

print(2* s3)

abcabc

In [ ]:
len(s3)

3

In [ ]:
a = 'audrey'
a[1]

'u'

In [ ]:
a[:4]

'audr'

In [ ]:
a[3:]

'rey'

Feb 17:

lists are mutable

.append()
.extend() - takes only lists and appends to the end
.insert(index, item) - adds an item to a list, iputs = where you want to insert (index) and what you want to add

In [ ]:
L = [1, 'two',3.14, [4,5,6,]]
L.insert(2,'abcde')
print(L)

[1, 'two', 'abcde', 3.14, [4, 5, 6]]

In [ ]:
L.pop(1) # input is the index, default value is -1 (removes last one)
L

[1]

In [ ]:
L_p = [5,8,2,0,1]
L_p.sort() # (reverse=True) will reverse the order of list *** can only do with a pure list (int)
L_p

[0, 1, 2, 5, 8]

In [ ]:
L = [1,2,3,4,5]
L.remove(2) #input is the item you want to remove (not the position!!)
L

[1, 3, 4, 5]

Feburary 19:

tuples are not mutable

feb 24: adding lists, etc

In [ ]:
l =[]

#use loop to add items to the list
for num in range(1,10,2):
  l.append(num)

l

[1, 3, 5, 7, 9]

'''python
L = [item for item in sequence if condition]
--- if condition is optional if you have a condition

In [ ]:
odds= [num for num in range(1,10,2)]
odds

[1, 3, 5, 7, 9]

the following will not be on the midterm --- it will be on the final

In [ ]:
#defining a function
def name(inputs for the function):
  # if function is called write what the function will do

function that takes 2 numerical inputs and returns the sum

In [ ]:
def addition(a,b):
  print(a + b)

addition(2,3)

5

In [ ]:
def range_check(item, sequence):
  print('Inside range_check')
  if item in sequence:
    return True
  else:
    return False

print('Program starts...')
c = range_check(3, range(2,4))
print(c)

Program starts...
Inside range_check
True

feb 26

In [ ]:
def reverse_name(first, last, reverse=True):
  if reverse:
    print(last, ",", first)
  else:
    print(first,last)

reverse_name('John', "Doe")

Doe , John

In [ ]:
speed = 65

print(f'The car speed is {speed}')
print('The car speed is {}'.format(speed))

The car spped is 65
The car speed is 65

march 24

In [ ]:
def linear_search(arr, target):
  for item in arr:
    if item == target:
      return item
  return -1

linear_search([1,2,3,4], 7)

-1

In [ ]:
def bubble_sort(L):
  for i in range(len(L)):
    for j in range(len(L) - i - 1):
      if L[i] < L[j]:
        L[i], L[j] = L[j], L[i]

  return L

In [ ]:
def binary_search(arr, target):
  low, high = 0, len(arr)-1

  while low <= high:
    mid = (low + high) // 2
    if target == mid:
      return mid
    elif arr[mid] < target:
      low = mid +1
    else:
      high = mid -1

  return -1

  %timeit binary_search([random.randint(0,1000000) for _ in range(1000000), 6])

march 26

In [ ]:
def bubble_sort(array):
  n = len(array)

  for i in range(n):
    already_sorted = True

    for j in range(n-i-1):
      if array[j] > array[j-1]:
        array[j], array[j+1] = array[j+1], array[j]
        already_sorted = False

      print(array)

    if already_sorted:
      break
    print()

  return array

bubble_sort(['f','a','d','b','g'])

['f', 'a', 'd', 'b', 'g']
['f', 'a', 'd', 'b', 'g']
['f', 'a', 'b', 'd', 'g']
['f', 'a', 'b', 'g', 'd']

['a', 'f', 'b', 'g', 'd']
['a', 'b', 'f', 'g', 'd']
['a', 'b', 'g', 'f', 'd']

['a', 'b', 'g', 'f', 'd']
['a', 'g', 'b', 'f', 'd']

['a', 'g', 'b', 'f', 'd']

['a', 'g', 'b', 'f', 'd']

In [ ]:
import random

def quickSort(arr):
  if len(arr) < 2:
    return arr
  else:
    low, equal, high = [], [], []

    pivot = len(arr) // 2

    for element in arr:
      if element < pivot:
        low.append(element)
      elif element > pivot:
        high.append(element)
      else:
        equal.append(element)

    return quickSort(low) + equal + quickSort(high)

quickSort([random.randint(0,1000) for _ in range(100)])

April 9

In [ ]:
class Coordinate:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, b):
    dx = (self.x - b.x) ** 2
    dy = (self.y - b.y) ** 2
    print(f'The distance is: {(dx+dy)** 0.5}')

p1 = Coordinate(0,0)
p2 = Coordinate(3,5)
p1.distance(p2)

The distance is: 5.830951894845301

april 14

In [ ]:
def __add__(self, other):
  return self.a + other.a

def __mil__(self, other):
  return self.a *other.a

april 21

In [9]:
class Client:
  id = 1
  def __init__(self, name, age, salary, occupation):
    self. name = name
    self.age = age
    self.salary = salary
    self.occupation = occupation
    self.id = Client.id
    Client.id += 1

  def get_name(self):
    return self.name

c1 = Client('Bob Marley', 47, 45000, 'singer')
c1.id

1

In [10]:
c12 = Client('Bruce D', 70, 1000000, 'singer')
c12.id

2

In [12]:
from abc import ABC, abstractmethod

class Employee(ABC):
  def __init__(self, first, last):
    self.first = first
    self.last = last

  @abstractmethod
  def get_salary(self):
    pass

class FullTimeEmployee(Employee):
  def __init__(self, first, last, salary):
    super().__init__(first, last)
    self.salary = salary

  def get_salary(self):
    return self.salary

class HourlyEmployee(FullTimeEmployee):
  def __init__(self, first, last, salary, num_hours, hourlyWage):
    super().__init__(first, last, salary)
    self.num_hours = num_hours
    self.hourlyWage = hourlyWage

  def get_payment(self):
    return self.num_hours * self.hourlyWage

In [14]:
fte = FullTimeEmployee('John', 'Doe',60000)
fte.get_salary()

60000